/*/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* body */
body{
    background: #feffdd;

}

.main{
    margin:25px 0px;
    padding:10px;
}



/* logo and navi */
.logo-section{
    margin:20px 0;

}
.multiple{
    background: #9d9d9d;
}

.logo-content{
    background: #9d9d9d;
    padding:30px;
/*    margin-right: -31px;*/
    height: 100px;
    max-width: 100px;

}
.navigation{
    background: #9d9d9d;
    padding:30px;
    
    height: 100px;
    max-width: 100px;
    text-align: right;

}


/* boxes */

.box-section-a{
/*    margin:20px;*/
}

/* line1 */

.boxy-a{
    background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}

.boxy-b{
     background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}

.boxy-c{
     background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}
.boxy-d{
    background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}

/* line2 */
.boxy-e{
     background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}

.boxy-f{
     background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}

.boxy-g{
     background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}
.boxy-h{
     background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}

/* line3 */
.boxy-i{
     background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}

.boxy-j{
    background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}

.boxy-k{
   background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}
.boxy-l{
    background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}

/* line4 */
.boxy-m{
   background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}

.boxy-n{
    background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;;
}

.boxy-o{
    background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}
.boxy-p{
    background: #9d9d9d;
    height: 150px;
    margin-bottom: 20px;
}



/* Body content */

.main-body{
/*    margin: 20px 0;*/
}

.content-1{
    padding: 180px 0px;
    background: #9d9d9d;
    text-align: center;
    margin-bottom: 20px;
}
.content-2{
    padding: 180px 0px;
    background: #9d9d9d;
    text-align: center;
    margin-bottom: 20px;
}
.content-3{
    padding: 180px 0px;
    background: #9d9d9d;
    text-align: center;
    margin-bottom: 20px;
}


/* footer  */

/*
.footer-area{
    margin:20px 0;
}
*/

.footer-header{
    padding:40px;
    background: #9d9d9d;
    text-align: center;
}
